header{
    background-color: blue;
}
#header{
    text-align: center;
    padding: 30px;
}
#nav{
    color: yellow;
    text-align: center;
    
    
}

#pre{
    padding: 15px;
    padding-bottom: 20px;
    font-size: 20px;
}
#skills{
    color:blueviolet;
    font-size: 30px;
    text-decoration: underline;
}

#table{
    text-align: center;
    
}
#row{
    padding: 10px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.media{
    font-size: 30px;

}

#m{
    color: blueviolet;
}